<template>
    <div class="page">
        <div id="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
        </div>
        <div id="info">
            <h1>
                <label>
                    <input class="placehold" id="task1" placeholder="название" v-model="name" type="text" required>
                </label>
                <label>
                    <input class="placehold" id="task2" placeholder="описание" v-model="discr" type="text" required>
                </label>
                <label>
                    <input class="placehold" id="task3" placeholder="поинты" v-model="points" type="text" required>
                </label>
                <label>
                    <input class="placehold" id="task4" placeholder="кол-во рабочих" v-model="work" type="text" required>
                </label>
                <a v-on:click="createTask" class="glo">создать задание</a>
            </h1>
            <hr>
            <h1>
                <label>
                    <input id="news1" class="placehold" placeholder="название" v-model="Nname" type="text" required>
                </label>
                <label>
                    <input id="news2" class="placehold" placeholder="описание" v-model="Ndicsr" type="text" required>
                </label>
                <a v-on:click="createNews" class="glo">создать новость</a>
            </h1>
            <hr>
            <h1>
                <a v-on:click="check" class="glo">проверка заданий</a>
            </h1>
            <h1>
                <a v-on:click="accounts" class="glo">информация аккаунтов</a>
            </h1>
            <h1>
                <a v-on:click="history" class="glo">история заданий</a>
            </h1>
            <h1>
                <a v-on:click="proc" class="glo">задания в процессе</a>
            </h1>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AdminPanel",
        data(){
            return {
                name:'',
                discr:'',
                Nname:'',
                Ndicsr:'',
                points: '',
                work: "",
                resp:'',
                errors:[],
            }
        },
        methods: {
            check(){
              this.$router.push("check")
            },
            history(){
                this.$router.push("history")
            },
            accounts(){
                this.$router.push("accounts")
            },
            proc(){
                this.$router.push("proc")
            },
            back(){
              this.$router.push('me');
            },
            createTask(){
               // let self = this;
                let data ={
                    'name':this.name,
                    'description':this.discr,
                    'points': this.points,
                    'cw': this.work,
                };
                this.$http.post('/admin/task/create',data).then(response=>{
                    this.resp = response.data.result.status;
                    document.getElementById("task1").value = "";
                    document.getElementById("task2").value = "";
                    document.getElementById("task3").value = "";
                    document.getElementById("task4").value = "";
                    if(response.data.status === 'true'){
                        this.resp = response.data.result;
                    }
                })
                    .catch(e=>{
                        this.errors.push(e);
                        this.resp = e;
                       // self.$router.push('fzf');
                    });
            },
            createNews(){
                // let self = this;
                let data ={
                    'name':this.Nname,
                    'description':this.Ndicsr,
                };
                this.$http.post('/admin/news/create',data).then(response=>{
                    this.resp = response.data.result.status;
                    document.getElementById("news1").value = "";
                    document.getElementById("news2").value = "";
                    if(response.data.status === true){
                        this.resp = response.data.result;
                    }
                })
                    .catch(e=>{
                        this.errors.push(e);
                        this.resp = e;
                        // self.$router.push('fzf');
                    });
            }

        },
        mounted() {
            let self = this;
            let data ={
                "x-auth-token": localStorage.getItem('token'),
                "accountid": localStorage.getItem('accountId'),
            };
            this.$http.post('/isAdmin',data).then(response=>{
                if(response.data.result.status === 'true'){
                    this.resp = response.data.result.status;
                }
                else {
                    self.$router.push('fzf')
                }
            })
                .catch(e=>{
                    this.errors.push(e);
                    this.resp = e;
                    self.$router.push('fzf');
                });
        }
    }
</script>

<style scoped>
    .placehold{
        width: 100%;
    }
    .img{
        margin-top: 10px;
        margin-right: 330px;
    }
    #info{
        margin-top: 90px
    }
    hr{
        color: black;
        height: 3px;
        background-color: black;
    }
    .page {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
    }

    #header {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-size: 30px;
        color: #9800ed;
        position: fixed;
        text-align: center;
        padding: 10px; /* Поля вокруг текста */
        background: #f4fdff; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    a.glo{
        color: #f9f3ff;
        padding: 15px 20px;
        text-transform: uppercase;
        width:350px;
        text-decoration:none;
        text-align:center;
        margin:30px 0;
        display: block;
        background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all .25s ease-in;
        font: 400 18px tahoma;
        border: 1px solid #00C6FF;
    }
    a.glo:hover {
        background-position: 0 0;
        color:#fff;
    }
    input {
        padding: 10px;
        font-size: 15px;
        border: 10px solid rgba(255, 255, 255, .5);
    @include box-shadow(
    0 2px 10px rgba(0, 0, 0, .25) inset,
    0 2px 10px rgba(0, 0, 0, .25));
    @include border-radius(10px);
        background: white;
    @include appearance(none);
        outline: none;
        color: #333;
        width: 39%;

    }
</style>