<template>
    <div class="main">
        <div class="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
        </div>
        <div class="body">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/40/goal.png"/>
                <label class="text">Задание: {{item.name}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/news.png"/>
                <label class="text">Описание задания: {{item.description}}</label>
            </div>
            <hr>
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/biotech.png">
                <label class="text">Исполнитель: {{item.worker}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/biotech.png">
                <label class="text">Ответ: {{item.answer}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/biotech.png">
                <label class="text">Очков опыта: {{item.points}}</label>
            </div>
            <hr class="line">
            <div class="button">
                <button v-on:click="setTrue">Верно</button>
                <button v-on:click="setFalse">Не верно</button>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "CheckPlace",
        data(){
            return {
                item: '',
                resp:'',
                mark:'',
                list:'',
                errors:[],
            }
        },
        mounted() {
            let self = this;
            this.item = this.$store.state.item;
            let data ={
                "accountid": localStorage.getItem('accountId'),
            };
            this.$http.post('/isAdmin',data).then(response=>{
                if(response.data.result.status === 'true'){
                    this.resp = response.data.result.status;
                }
                else {
                    self.$router.push('fzf')
                }
            })
                .catch(e=>{
                    this.errors.push(e);
                    this.resp = e;
                    self.$router.push('fzf');
                });
        },
        methods:{
            back(){
              this.$router.push('check');
            },
            setTrue(){
                let self = this;
                let data ={
                    "x-auth-token": localStorage.getItem('token'),
                    "accountid": localStorage.getItem('accountId'),
                    "checkid": this.item.id,
                    "mark": 'true'
                };
                this.$http.post('/admin/check/mark',data).then(response=>{
                    if(response.data.result.status === true){
                        self.$router.push('check');
                    }
                })
                    .catch(e=>{
                        this.errors.push(e);
                        this.resp = e;
                        self.$router.push('fzf');
                    });
            },
            setFalse(){
                let self = this;
                let data ={
                    "x-auth-token": localStorage.getItem('token'),
                    "accountid": localStorage.getItem('accountId'),
                    "checkid": this.item.id,
                    "mark": 'false'
                };
                this.$http.post('/admin/check/mark',data).then(response=>{
                    if(response.data.result.status === true){
                        self.$router.push('check');
                    }
                })
                    .catch(e=>{
                        this.errors.push(e);
                        this.resp = e;
                        self.$router.push('fzf');
                    });
            }
        },

    }
</script>

<style scoped>
    .img{
        margin-top: 10px;
    }
    .text{
        font-size: 25px;
        color: #9800ed;
    }
    .pic{
        margin-right: 20px;
    }
    .button{
        margin-top: 100px;
        text-align: center;
    }
    .line{
        width: 80%;
    }
    .block{
        margin-top: 20px;
        margin-left: 60px;
        display: flex;
    }
    .main{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    }
    .body{
        margin-top: 100px;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: normal;
    }
    .header {
        position: fixed;
        padding: 10px; /* Поля вокруг текста */
        background: #f4fdff; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    input{
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        height: 50px;
        border-radius: 20px;
        font-size: large;
    }
    button{
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        border-radius: 20px;
        height: 50px;
        font-size: large;
        margin-left: 20px;
    }
</style>