<template>
    <div class="page">
        <div id="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
            <label class="newws" >Аккаунты:</label>
        </div>
        <div id="body">
            <ul class="border" v-for="item in resp" :key="item.message">
                <li>{{ "Логин: " + item.login + " Очков: " +item.lvlPoint+ " уровень: " +item.lvl }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StateAccounts",
        data(){
            return {
                item: "",
                resp:'',
                mark:'',
                list:'',
                errors:[],
            }
        },
        methods:{
          back(){
            this.$router.push('panel')
          },
        },
        mounted() {
            let self = this;
            this.$http.post('/admin/state/accounts').then(response=>{
                if(response.data.result.status === true){
                    this.resp = response.data.result.list;
                }
                else {
                    self.$router.push('fzf')
                }
            })
                .catch(e=>{
                    this.errors.push(e);
                    this.resp = e;
                    self.$router.push('fzf');
                });
        }
    }
</script>

<style scoped>

    .newws{
        margin-right: auto;
    }
    .img{
        margin-top: 10px;
        margin-right: auto;
    }
    .page {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
    }

    #header {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-size: 30px;
        color: #9800ed;
        position: fixed;
        text-align: left;
        padding: 10px; /* Поля вокруг текста */
        background: #f4fdff; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    h1{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        color: #9800ed;
        position: absolute;
        margin-left: 90px;
        margin-right: auto;
        /*margin-top: -70px;*/
        /*margin-left: 100px;*/
    }
    #body{
        margin-top: 100px;
        width: 100%;
        height: 100%;
    }
    #table{
        margin-top: 100px;
        width: 100%;
        height: 100%;
    }
    .border {
        padding: 0;
    }

    #block{
        font-size: 25px;
        display: flex;
    }
    #last{
    }
    ul{
        margin-bottom: 50px;
    }
    .border li {
        color:  #9800ed;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        padding: 7px 20px;
        border-radius: 25px;
        box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
        -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 2px;
        transition: 0.3s all linear;
        background-color: white;
    }
    .border label{

    }

    .border li:hover {border-left: 10px solid transparent;}

</style>