<template>
    <div id="app">
        <router-view class="start"></router-view>
    </div>
</template>

<script>

export default {
  name: 'App',
    methods:{},
}
</script>


<style>
    /*.start{*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*    background-color: #1E90FF;*/
    /*}*/
    #app{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        background: #1E90FF;
        width: 100%;
        height: 100%;
    }
</style>
