<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
<!--    <title><%= htmlWebpackPlugin.options.title %></title>-->
    <title>God Game</title>
    <meta name="theme-color" content="#1e90ff"/>
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" >
    <meta name="apple-mobile-web-app-status-bar" content="#1e90ff">
    <link rel="manifest" href='manifest.json'>
    <link crossorigin="anonymous" rel="preload" href="data.json" as="fetch">
  </head>
  <body>
  <div id="app"></div>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  </body>
</html>
