<template>
    <div class="main">
        <div class="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
            <label class="newws">Новости</label>
        </div>
        <div class="body">
            <div class="block">
                <img class="imgg" src="https://img.icons8.com/nolan/60/news.png"/>
                <label >{{item.name}}</label>
            </div>
            <hr class="line">
            <div class="text">
                <label class="disc">Описаниe: {{item.description}}</label>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "AboutNews",
        data(){
            return {
                item: "",
                resp:'',
                mark:'',
                list:'',
                errors:[],
            }
        },
        mounted() {
            this.item = this.$store.state.item;
        },
        methods:{
            back(){
                this.$router.push('news')
            }
        }
    }
</script>

<style scoped>
    .disc{
        margin-left: 30px;
        color: #9800ed;
    }
    .newws{
        font-size: 30px;
        margin-right: 140px;
    }
    .imgg{
        margin-left: -10px;
        margin-right: 20px;
    }
    .img{
        margin-top: 10px;
        margin-right: 60px;
    }
    .text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .line{
        width: 80%;
    }
    .block{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 60px;
        display: flex;
    }
    .main{
        color: #9800ed;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#87E7FF, #FBCEFF);
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    }
    .body{
        margin-top: 100px;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: normal;
    }
    .header {
        position: fixed;
        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }

</style>