<template>
    <div class="main">
        <div class="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
        </div>
        <div class="body">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/goal.png"/>
                <label class="text">Задание: {{item.name}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/news.png"/>
                <label class="text">Описаниe: {{item.description}}</label>
            </div>
            <hr class="line">
            <div class="block" >
                <img class="pic" src="https://img.icons8.com/nolan/45/myspace.png"/>
                <label class="text">Исполнитель: {{item.countWorkers}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img class="pic" src="https://img.icons8.com/nolan/45/biotech.png">
                <label class="text">Очков опыта: +{{item.points}}</label>
            </div>
            <hr class="line">
            <div class="button">
                <img  v-on:click="take(item.id)" src="../assets/icons/task-check/take.png">
            </div>
        </div>
        <h1 id="exz" hidden="false" >you have already taken this quest</h1>
    </div>
</template>

<script>

    export default {
        name: "CheckPlace",
        data(){
            return {
                item: "",
                resp:'',
                mark:'',
                list:'',
                errors:[],
            }
        },
        mounted() {
            this.item = this.$store.state.item;
        },
        methods:{
            take(taskid){
                let self = this;
                let data ={
                    "accountid" : localStorage.getItem('accountId'),
                    'taskid': taskid
                };
                this.$http.post('/quests/take',data).then(response=>{
                    this.resp = response.data.result;
                    if(response.data.result.status === "succsess"){
                        self.$router.push('tasks')
                    }
                    if(response.data.result.status === "have"){
                        document.getElementById('exz').hidden = false;
                    }
                })
                    .catch(e=>{
                        this.resp = e;
                        self.$router.push('fzf');
                        this.errors.push(e)
                    });
            },

            back(){
                this.$router.push('tasks')
            }
        }
    }
</script>

<style scoped>
    .button{
        margin-top: 200px;
        text-align: center;
    }
    .img{
        margin-top: 10px;
    }
    .text{
        font-size: 25px;
        color: #9800ed;
    }
    .pic{
        margin-right: 20px;
    }
    .button{
        margin-top: 100px;
        text-align: center;
    }
    .line{
        width: 80%;
    }
    .block{
        margin-top: 20px;
        margin-left: 60px;
        display: flex;
    }
    .main{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    }
    .body{
        margin-top: 100px;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: normal;
    }
    .header {
        position: fixed;
        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }

</style>