<template>
    <div>
        <img alt="logo" src="../assets/logo.png">
        <h1>404</h1>
        <h1>страница не найдена</h1>
        <a class="button8"><router-link class="tg" to="/singin">На главную</router-link></a>
    </div>
</template>

<script>
    export default {
        name: "FzeroF"
    }
</script>

<style scoped>
    div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1E90FF;
    }
    h1{
        color: #F8F8FF;
        font-family: Avenir, Helvetica, sans-serif;
        margin-top: 15px;
    }
</style>