<template>
    <div>
    </div>
</template>

<script>

    export default {
        name: "Initital",
        mounted() {
            if (localStorage.getItem('token') !== null) {
                let self = this;
                let data = {
                    "accountid": localStorage.getItem('accountId'),
                };
                this.$http.post('/checkout', data).then(response => {
                    if (response.data.result.status === 'true') {
                        self.$router.push('me');
                    } else {
                        self.$router.push('singin')
                    }
                })
                    .catch(e => {
                        this.errors.push(e);
                        this.resp = e;
                        self.$router.push('singin');
                    });
            }
            else {
                this.$router.push('singin');
            }
            this.$router.push('singin')
        },
    }
</script>

<style scoped>

</style>