<template>
    <div class="main">
        <div id="header" class="place">
            <img v-on:click="friends" class="image4" src="https://img.icons8.com/nolan/70/myspace.png"/>
            <img class="image5" src="https://img.icons8.com/nolan/70/biotech.png"/>
        </div>
        <div class="center">
            <img class="hydra" src="../assets/icons/mainpage/hydra.png">
<!--            <canvas class="conv" id="canvas"  height="400" width="400"></canvas>-->
<!--            <img class="img" id="myImage" src="../assets/1.png">-->
<!--            <img class="img" id="myImage2" src="../assets/2.png">-->
<!--            <img class="hero" src="../assets/gf.gif">-->
<!--            <video  width="850" height="850" poster="../assets/gf.gif" autoplay loop muted playsinline>-->
<!--                <source src="urod_lv1_0.webm" type='video/webm; codecs="vp8"'>-->
<!--                <source src="urod_lv1_1.mov" type='video/mp4; codecs="hvc1"'>-->
<!--                <source src="urod_lv1_1.mov"  type='video/mp4; codecs="hvc1"'>-->
<!--                    <source src="../assets/gf.gif">-->
<!--                <img src="../assets/gf.gif">-->
<!--            </video>-->
<!--            <img src="../assets/gf.gif">-->
            <img class="hero" v-if="lvl === 1" src="../assets/gif/lvl1.gif">
            <img class="hero" v-else-if="lvl === 2" src="../assets/gif/lvl2.gif">
            <img class="hero" v-else-if="lvl >= 3" src="../assets/gif/lvl3.gif">
            <div class="meter">
                <label>Уровень {{lvl}}</label>
                <progress id="p" class="bar" value="" max=""></progress>
            </div>
        </div>
        <div id="footer" class="place">
            <img class="image1" v-on:click="news" src="https://img.icons8.com/nolan/80/news.png"/>
            <img class="image1" v-on:click="profile" src="https://img.icons8.com/nolan/80/desura.png"/>
            <img class="image1"  v-on:click="task" src="https://img.icons8.com/nolan/80/goal.png"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Me',
        data(){
            return {
                img:"myImage",
                interval: '',
                lvl:'',
                points:'',
                image:"",

            }
        },
        mounted() {
            // if(localStorage.getItem('lvl') > 1){
            //     this.up();
            // }
            // else {
            // this.draw()
            //     }
            let data = {
                "accountid" : localStorage.getItem('accountId')
            };
            this.$http.post('/profile', data).then(response => {
                if (response.data.status === true) {
                    this.points = response.data.result.points;
                    this.lvl = response.data.result.lvl;
                    document.getElementById("p").value = response.data.result.points;
                    document.getElementById('p').max = response.data.result.lvl * 100;
                }
            })
                .catch(e => {
                    // self.$router.push('fzf');
                    this.errors.push(e)
                });

        },
        methods:{

            friends(){
              this.$router.push('friends')
            },

            task(){
                this.$router.push('tasks')
            },

//             draw(){
//                 let numColumns = 3;
//                 let numRows = 3;
//                 let sprite = document.getElementById(this.img);
//                 let canvas = document.getElementById("canvas");
//                 let context = canvas.getContext('2d');
//                 // Define the size of a frame
//                 let frameWidth = sprite.width / numColumns-21;
//                 let frameHeight = sprite.height / numRows-20;
//                 // The sprite image frame starts from 0
//                 let currentFrame = 0;
//
//                 this.interval = setInterval(function()
//                 {
//                     // Pick a new frame
//                     currentFrame++;
//
//                     // Make the frames loop
//                     let maxFrame = numColumns * numRows - 1;
//                     if (currentFrame > maxFrame){
//                         currentFrame = 0;
//                     }
//
//                     // Update rows and columns
//                     let column = currentFrame % numColumns;
//                     let row = Math.floor(currentFrame / numColumns);
//
//                     // Clear and draw
//                     context.clearRect(0, 0, canvas.width, canvas.height);
//                     context.drawImage(sprite, column * frameWidth, row * frameHeight, frameWidth, frameHeight, 0, 0, frameWidth, frameHeight);
// //Wait for next step in the loop
//                 }, 100);
//             },
            profile(){
                this.$router.push('profile')
            },

            my(){
                this.$router.push('myquests')
            },

            admin(){
                this.$router.push('panel')
            },
            news(){
                this.$router.push('news')
            },
            up(){
                // clearInterval(this.interval);
                // this.img = "myImage2";
                // this.draw()
            },

        },

    }
</script>

<style scoped>
    video{
    }
    .hydra{
    }
    .hero{
        width: 337px;
        height: 412px;
        margin: 10px auto;
        display: block;
    }
    .bar{
        margin: 3px auto;
        width: 260px;
        display: block;
        border-radius : 10px;
        background: #fff;
        padding: 0;
        border-color: #00c6ff;
        text-align: center;
        height: 20px;
        box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
        overflow:hidden;
        background: -webkit-linear-gradient(#3ea0eb, #32ffee 50%, #3ea0eb);
        background: -moz-linear-gradient(#3ea0eb, #32ffee 50%, #3ea0eb);
        background: -o-linear-gradient(#3ea0eb, #32ffee 50%, #3ea0eb);
        background: linear-gradient(#3ea0eb, #32ffee 50%, #3ea0eb);
    }
    progress::-webkit-progress-value { background: linear-gradient(to bottom right, #87E7FF,#FBCEFF); }

    .anim{
        width: 400px;
        height: 400px;
    }
    video{
        width: 400px;
        background: none;
    }
    .center{
        text-align: center;
    }
    .hero{
      width: 400px;
      height: 400px;
    }

    .image4{
        background-size: 1px 1px;
        margin-right: -300px;
    }
    .image5{
        background-size: 1px 1px;
        margin-right: 15px;
    }
    .img{
        display: none;
    }
    .conv{
        margin-top: 250px;
    }
    .place{
        text-align: center;
    }
    .image1{
        margin-left: auto;
        margin-right: auto;
    }
    .image2{
        margin-left: 40px;
    }
    .image3{
        margin-left: 40px;
    }
    .main{
        position: fixed;
        left: 0;
        background: linear-gradient(to bottom right,#87E7FF, #FBCEFF);
        width: 100%;
        height: 100%;
    }



    #header {

        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid gray;
        left: -2px;
        margin-top: -10px;
    }

    #footer {
        display: flex;
        position: fixed;
        bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #f9f9ff; /* Цвет фона */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid gray;
        left: -2px;
    }

@media screen and (max-height:568px) {
    .hydra{
        display: none;
    }
    .hero{
        width: 270px;
        height: 220px;
    }
    .image1{
        margin-left: -5px;
    }
}

    @media screen and (max-height:667px) {
        .hydra{
            margin-bottom: -35px;
        }
        .hero{
            width: 320px;
            height: 320px;
        }
        .image1{
            margin-left: 20px;
        }
    }

    @media screen and (max-height:640px) and (max-width: 360px) {
        .hydra{
            margin-bottom: -40px;
        }
        .hero{
            width: 250px;
            height: 250px;
        }
        .image1{
            margin-left: 20px;
        }
    }





</style>
