<template>
    <div class="page">
        <div id="main">
            <div id="header">
                <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
                <label class="lab">Мои Задачи</label>
            </div>
            <div id="body">
                <div id="table">
                    <ul class="border" v-for="item in list" :key="item.message" v-on:click="turn(item)">
                        <li>
                            <span>
                                <label class="left" >{{item.name}}</label>
                            </span>
                            <hr>
                            <span id="block">
                               <img class="points-icon" src="https://img.icons8.com/nolan/30/biotech.png">
                                {{"+"+item.points}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MyQuests",
        data(){
            return {
                login:'',
                list:'',
                resp:'',
                answer:'',
                errors:[],
            }
        },
        mounted() {
            let self = this;
            let data = {
                "x-auth-token": localStorage.getItem('token'),
                "accountid":  localStorage.getItem('accountId'),
            };
            this.$http.post('/quests/myquests',data).then(response=>{
                this.list = response.data.result.tasks;
            })
                .catch(e=>{
                    self.$router.push('fzf');
                    this.errors.push(e)
                });
        },
        methods:{
            back(){
                this.$router.push("tasks")
            },
          turn(item){
              this.$store.commit('item',item);
              this.$router.push('quest')
              }
        },
    }
</script>

<style scoped>
    .lab{
        margin: auto;
    }
    .img{
        margin-top: 10px;
        margin-right: auto;
    }

    .page {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#87E7FF, #FBCEFF);
    }

    #header {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-size: 30px;
        color: #9800ed;
        position: fixed;
        text-align: left;
        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    h1{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        color: #9800ed;
        position: absolute;
        margin-left: 90px;
        margin-right: auto;
        /*margin-top: -70px;*/
        /*margin-left: 100px;*/
    }
    #body{
        width: 100%;
        height: 100%;
    }
    #table{
        margin-top: 100px;
        width: 100%;
        height: 100%;
    }
    .border {
        padding: 0;
    }

    #block{
        display: flex;
    }
    #last{
    }
    .border li {
        color:  #9800ed;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        padding: 7px 20px;
        border-radius: 25px;
        box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
        -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        letter-spacing: 2px;
        transition: 0.3s all linear;
        background-color: white;
    }
    .border label{

    }

    .border li:hover {border-left: 10px solid transparent;}

</style>