<template>
    <div class="main">
        <div class="header">
            <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
            <img class="admin" id="admin" hidden="true" v-on:click="admin" src="https://img.icons8.com/nolan/75/gear.png">
        </div>
        <div class="body">
            <div class="ava">
                <img src="../assets/icons/profile/ava.png"/>
            </div>
            <div class="block">
                <img src="https://img.icons8.com/nolan/45/biotech.png">
                <label id="fild1" class="text">Очков опыта: {{points}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <img src="https://img.icons8.com/nolan/45/checkmark.png"/>
                <label  id="fild2" class="text">Уровень: {{lvl}}</label>
            </div>
            <hr class="line">
            <div class="block">
                <button class="btn" v-on:click="lvlup">
                    level up
                </button>
            </div>
            <div class="button">
                <img v-on:click="logout" src="../assets/icons/profile/logout.png">
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Profile",
        data(){
            return {
                login:'',
                email:'',
                points:'',
                lvl:'',
                item:'',
                resp:'',
                errors:[],
            }
        },
        methods:{
            logout(){
                let self = this;
                let data ={
                    "accountid": localStorage.getItem('accountId'),
                };
                this.$http.post('/logout',data).then(response=>{
                    if(response.data.result.status === 'logout'){
                        localStorage.setItem('x-auth-token',"");
                        localStorage.setItem('accountid',"");
                        localStorage.setItem('lvl',"");
                        self.$store.commit('logout');
                        self.$router.push("singin")
                    }
                })
                    .catch(e=>{
                        this.errors.push(e)
                    });
            },
          lvlup(){
              const self = this;
              let data = {
                  "accountid" : localStorage.getItem('accountId')
              };
              this.$http.post('/lvlup', data).then(response => {
                  if (response.data.status === true) {
                      self.points = response.data.result.points;
                      self.login = response.data.result.login;
                      self.email = response.data.result.email;
                      self.lvl = response.data.result.lvl;
                      self.$router.push('me');
                  }
              }).catch(e => {
                    //  self.$router.push('fzf');
                      this.errors.push(e)
                  });
          },
          back(){
              this.$router.push("me")
          },
            admin(){
              this.$router.push("panel")
            },
        },
        mounted() {
         //   let self = this;
            let data = {
                "accountid" : localStorage.getItem('accountId')
            };
            this.$http.post('/profile', data).then(response => {
                if (response.data.status === true) {
                    this.points = response.data.result.points;
                    this.login = response.data.result.login;
                    this.email = response.data.result.email;
                    this.lvl = response.data.result.lvl;
                    localStorage.setItem("lvl",response.data.result.lvl);
                    if(response.data.result.admin === true){
                        document.getElementById('admin').hidden = false;
                    }
                }
            })
                .catch(e => {
                   // self.$router.push('fzf');
                    this.errors.push(e)
                });
        },
    }


</script>

<style scoped>
    .img{
        margin-top: 10px;
    }
    .text{
        font-size: 30px;
    }
    .btn{
        margin-top: 40px;
        margin-left: -15px;
        width: 90%;
    }
    .admin{
        margin-left: auto;
        margin-top: 10px;
        margin-right: 15px;
    }
    .ava{
        text-align: center;
    }
    .button{
        margin-top: 30px;
        text-align: center;
    }
    .line{
        width: 80%;
    }
    .line{
        width: 80%;
    }
    .block{
        margin-top: 20px;
        margin-left: 60px;
        display: flex;
    }
    .main{
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    }
    .body{
        margin-top: 100px;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-weight: normal;
    }
    .header {
        display: flex;
        position: fixed;
        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    button{
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
        border-radius: 20px;
        height: 50px;
        font-size: large;
        margin-left: 20px;
    }
</style>