<template>
    <div class="Registration">
        <img class="img" v-on:click="Png" alt="logo" src="../assets/logo.png">
        <h3 class="tag">Create your account</h3>
        <div class="group">
            <input type="text" v-model="login" required>
            <span class="bar"></span>
            <label class="login">Login</label>
        </div>
        <div class="group">
            <input type="text" v-model="email" required>
            <span class="bar"></span>
            <label class="login">E-mail</label>
        </div>
        <div class="group">
            <input type="password" v-model="password" required>
            <span class="bar"></span>
            <label class="pass">Password</label>
        </div>
        <img v-on:click="Registr" class="button" src="../assets/icons/register/but.png">
        <h1>{{resp}}</h1>
    </div>
</template>

<script>

    export default {
        name: "Registeration",
        data(){
            return {
                login:'',
                password:'',
                email: '',
                resp:'',
                errors:[],
            }
        },
        methods:{
            Png() {
                this.$router.push("start")
            },
            Registr(){
                let self = this;
                let data ={
                    'login':this.login,
                    'password':this.password,
                    'email': this.email
                };
                this.$http.post('/reg',data).then(response=>{
                    this.resp = response.data.result.status;
                    if(response.data.result.status === 'succsess'){
                        self.$router.push('singin')
                    }
                })
                    .catch(e=>{
                        this.errors.push(e)
                    });
            },
        }
    }
</script>

<style scoped>
    .tag{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        color: white;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .Registration {
        text-align: center;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1E90FF;
    }

    .img {
        margin-top: 75px;
        margin-bottom: 25px;
    }
    .button{
        margin-top: 20px;
        width: 210px;
    }
    .login {
        color: white;
        font-size: 18px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        pointer-events: none;
        left: -150px;
        top: 0px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .pass{
        color: white;
        font-size: 18px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        pointer-events: none;
        left: -120px;
        top: 0px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -15px;
        font-size: 14px;
        color: #5264AE;
    }

    .bar {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        width: 320px;
    }
    .bar:before, .bar:after {
        content: "";
        height: 1px;
        width: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background: #fafafa;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 10%;
    }
    .bar:after {
        right: 10%;
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
    .group {
        margin-top: 15px;
        position: relative;
        margin-bottom: 30px;
        color: #1E90FF;
    }

    input {
        font-size: 16px;
        padding: 10px;
        display: block;
        width: 170px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background-color: #1E90FF;
        border-bottom: 1px solid #fafafa;
        color: white;
    }
    input:focus {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        outline: none;
    }
</style>