<template>
    <div class="SingIn">
            <div class="img">
                <img v-on:click="Png" alt="logo" src="../assets/logo.png">
            </div>
            <h2 class="tag">Sing in</h2>
            <div class="group">
                <input type="text" v-model="login" required>
                <span class="bar"></span>
                <label class="login">Login</label>
            </div>
            <div class="group">
                <input type="password" v-model="password" required>
                <span class="bar"></span>
                <label class="pass">Password</label>
            </div>
        <img v-on:click="PostLog" class="button" src="../assets/icons/auth/button.png">
        <div id="create">
          <img id="ltl" class="ctrimg" src="../assets/icons/auth/create.png">
            <label v-on:click="register" class="crt">create your account?</label>
        </div>
        <h1 class="tag">{{resp}}</h1>
    </div>
</template>

<script>

    export default {
        name: 'SingIn',
        data() {
            return {
                login: '',
                password: '',
                resp: '',
                errors: [],
            }
        },
        methods: {
            register(){
              this.$router.push('reg')
            },
            Png() {
                this.$router.push("start")
            },
            PostLog() {
                let self = this;
                let data = {
                    'login': this.login,
                    'password': this.password,
                };
                this.$http.post('/login', data).then(response => {
                    this.resp = response.data.result.status;
                    if (response.data.result.status === true) {
                        localStorage.setItem('token', response.data.result.token);
                        localStorage.setItem('accountId', response.data.result.accountId);
                        self.$store.commit('auth_success', response.data.result.token, response.data.result.accountId);
                        self.$http.defaults.headers['x-auth-token'] = response.data.result.token;
                        self.$router.push("me")
                    }
                })
                    .catch(e => {
                        self.$store.commit('auth_error');
                        this.errors.push(e)
                    });
            },

        }
    }


</script>

<style scoped>
    #ltl{
        margin-left: 40px;
        width: 15px;
        height: 15px;
    }
    #create{
        font-size: 20px;
        display: flex;
        margin-left: 40px;
        margin-right: auto;
        text-align: center;
    }
    .tag{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        color: white;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .SingIn {
        text-align: center;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1E90FF;
    }
    .ctrimg{
        margin-top: 10px;
    }

    .create{
        margin-top: 10px;
        color: #4635f0;
    }
    .img {
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .button{
        margin-top: 20px;
        width: 210px;
    }
    .login {
        color: white;
        font-size: 18px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        pointer-events: none;
        left: -150px;
        top: 0px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .pass{
        color: white;
        font-size: 18px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        pointer-events: none;
        left: -120px;
        top: 0px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -15px;
        font-size: 14px;
        color: #5264AE;
    }

    .bar {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        width: 320px;
    }
    .bar:before, .bar:after {
        content: "";
        height: 1px;
        width: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background: #fafafa;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 10%;
    }
    .bar:after {
        right: 10%;
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
    .group {
        margin-top: 15px;
        position: relative;
        margin-bottom: 30px;
        color: #1E90FF;
    }

    input {
        font-size: 16px;
        padding: 10px;
        display: block;
        width: 170px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background-color: #1E90FF;
        border-bottom: 1px solid #fafafa;
        color: white;
    }
    input:focus {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: left;
        outline: none;
    }
</style>
