    <template>
    <div class="myDiv">
        <div class="Content">
            <img alt="logo" src="../assets/logo.png">
            <h3>
                <a v-on:click="ClickS" class="button8"><router-link class="tg" to="/singin">Вход</router-link></a>
            </h3>
            <h3>
                <a v-on:click="ClickR" class="button8"><router-link class="tg" to="/reg">Регистрация</router-link></a>
            </h3>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StartPage",
        methods:{
          ClickS(){
              this.$router.push('singin')
          },
            ClickR(){
                this.$router.push('reg')
            }

        },
    }
</script>

<style scoped>
    .myDiv {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1E90FF;

    }
    .Content{
        text-align: center;
        margin-top: 75px;
    }

    a{
        color: #F8F8FF;
        font-style: unset;
        font: 14pt cursive;
    }


    a.button8 {
        display: inline-block;
        color: white;
        margin-top: 20px;
        font-weight: 700;
        width: 100px;
        text-decoration: none;
        user-select: none;
        padding: .5em 2em;
        outline: none;
        border: 2px solid;
        border-radius: 10px;
        transition: 0.2s;

    }

    a.button8:hover { background: rgba(255,255,255,.2); }
    a.button8:active { background: white; }


</style>