<template>
    <div class="page">
        <div id="main">
            <div id="header">
                <img class="img" v-on:click="back" src="https://img.icons8.com/nolan/55/back.png"/>
                <label class="newws">Доска Задач</label>
                <img v-on:click="quest" class="img2"  src="../assets/icons/worktable/task-icon.png">
            </div>
            <div id="body">
                <div id="table">
                    <ul class="border" v-for="item in list" :key="item.message" v-on:click="check(item)">
                        <li>
                            <span>
                                <label class="left" >{{item.name}}</label>
                            </span>
                            <hr>
                            <span id="block">
                                    <img id="last" class="points-icon" align="left"  src="https://img.icons8.com/nolan/30/biotech.png">
                                    <label id="points" class="text">{{"+"+item.points}}</label>
                                    <img id="guys" class="point-icon"   src="https://img.icons8.com/nolan/30/conference-call.png">
                                    <label id="q" class="text">{{item.countWorkers}}</label>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Tasks',
        data(){
            return {
                login:'',
                list:'',
                resp:'',
                errors:[],
            }
        },
        methods:{
            check(item){
                this.$store.commit('item',item);
                this.$router.push('checkpanel')
            },
            back(){
                this.$router.push("me")
            },
            quest() {
                this.$router.push('myQuests')
            },
        },
        mounted() {
            let self = this;
            let data ={
                "accountid": this.$store.state.accountId
            };
            this.$http.post('/quests/list',data).then(response=>{
                this.list = response.data.result.tasks;
            })
                .catch(e=>{
                    self.$router.push('fzf');
                    this.errors.push(e)
                });
        },
    }

</script>

<style scoped>
    .newws{
        margin-top: auto;
    }
    #q{
        margin-left: 5px;
    }
    #guys{
        margin-left: 10px;
    }
    .img{
        margin-right: auto;
    }
    .img2{
        margin-left: 40px;
        margin-right: 17px;
        margin-top: 10px;
    }
    .task-icon{
        width: 50px;
    }

    .worker-icon{
        width: 50px;
    }

    .page {
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: linear-gradient(to bottom right,#6DDFFC, #F09CF9);
    }

    #header {
        display: flex;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        font-size: 30px;
        color: #9800ed;
        position: fixed;
        text-align: left;
        padding: 10px; /* Поля вокруг текста */
        background: white; /* Цвет фона */
        width: 100%; /* Ширина слоя */
        height: 70px;
        border: 2px solid;
        left: -1px;
        top: -10px
    }
    h1{
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        color: #9800ed;
        position: absolute;
        margin-left: 90px;
        margin-right: auto;
        /*margin-top: -70px;*/
        /*margin-left: 100px;*/
    }
    #body{
        width: 100%;
        height: 100%;
    }
    #table{
        margin-top: 100px;
        width: 100%;
        height: 100%;
    }
    .border {
        padding: 0;
    }

    #block{
        display: flex;
    }
    #last{
    }
    .border li {
        color:  #9800ed;
        font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
        padding: 7px 20px;
        border-radius: 25px;
        box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
        -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        letter-spacing: 2px;
        transition: 0.3s all linear;
        background-color: white;
    }
    .border label{

    }

    .border li:hover {border-left: 10px solid transparent;}

</style>
